/* Add your style below */

@font-face {
  font-family: "ITC Korinna Regular";
  src: url("../fonts/ITC_Korinna_Regular.otf");
}

@font-face {
  font-family: "Gyparody";
  src: url("../fonts/gyparody_rg.ttf");
}

#gameBoard {
  width: 90%;
  justify-self: center;
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  grid-template-rows: 75px 75px 75px 75px 75px 75px;
  background-color: black;
}

body {
  background-color: #aaa;
  font-family: 'ITC Korinna Regular';
}

header {
  font-family: 'Gyparody';
  justify-self: center;
}

.question, .category {
  display: flex;
  background-color: blue;
  color: #FFD700;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

.category {
  text-transform:uppercase;
}

#controls {
  display: flex;
}

#resetButton {
  margin-left: 8px;
}

#gameInfo {
  display: grid;
  grid-template-columns: 5vw auto 5vw;
  justify-content: space-between;
  width: 90%;
  justify-self: center;
  margin-top: 20px;
}


/* initial style for gameboard - you'll want to delete this later   */
/* it's just for getting started with js */


#gameBoard div{
 
  
  border-style: solid;
  border-color: black;
  border-width: 2px;
  
  

}

/* end style for gameboard */


/* style for modal*/
#qaModal{

  color: #FFD700;
  font-size:25px;
}
    
    /* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color:  blue;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }